{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bancarios/css/styles.css' %}" >
    <script src="{% static 'bancarios/js/bancarios.js' %}"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <title>Document</title>

</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">NEORIS TEST</span>
    </nav>

    <div class="container mt-5">
        <div class="row mt-5">
            <!--FORMULARIO-->
            <div class="col-lg-5">
                <p class="text-center mb-1" style="font-size: 20px; font-weight: 500;">Crear Registro </p>
                <form method="post" action="{% url 'create' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">ID Título</label>
                        <select class="form-control" required id="exampleFormControlSelect2" name="id_titulo">
                          <option value="USD">USD</option>
                          <option value="TRPV">TRPV</option>
                          <option value="TP">TP</option>
                          <option value="TID">TID</option>
                          <option value="THI">THI</option>
                          <option value="TESU">TESU</option>
                          <option value="TEST">TEST</option>
                          <option value="TESP">TESP</option>
                          <option value="TESOROS">TESOROS</option>
                          <option value="TESI">TESI</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Título</label>
                        <select class="form-control" required id="exampleFormControlSelect2" name="titulo">
                          <option value="DOLAR">DOLAR</option>
                          <option value="TÍTULO DE PARTICIPACIÓN RENTA VARIABLE,TITULO DE 
                          PARTICIPACIÓN">TÍTULO DE PARTICIPACIÓN RENTA VARIABLE,TITULO DE 
                          PARTICIPACIÓN</option>
                          <option value="TIDIS">TIDIS</option>
                          <option value="TITULOS HIPOTECARIOS">TITULOS HIPOTECARIOS</option>
                          <option value="TES UVR">TES UVR</option>
                          <option value="TES TRM">TES TRM</option>
                          <option value="TES PESOS">TES PESOS</option>
                          <option value="BONOS DEL TESORO EEUU">BONOS DEL TESORO EEUU</option>
                          <option value="TES IPC">TES IPC</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Clasificación</label>
                      <input type="text" placeholder="Ingresa Clasificación" required name="clasificacion" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Valor</label>
                        <input type="number" required placeholder="Ingresa Valor" name="valor" class="form-control" id="exampleInputPassword1">
                    </div>
    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Fecha Creación</label>
                        <input type="date" required name="fecha_creacion" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Fecha Vencimiento</label>
                        <input type="date" required name="fecha_vencimiento" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Pago Cuota</label>
                        <input type="number" placeholder="Ingresa Pago cuota" required name="pago_cuota" class="form-control" id="exampleInputPassword1">
                    </div>
                    {% if action == "crear_user" and status == 404 %}
                    <div class="alert alert-success" role="alert">
                        Registro agregado correctamente.
                    </div>
                    {% elif action == "crear_user" and status == 200 %}
                    <div class="alert alert-danger" role="alert">
                        Ya existe ID título
                    </div>
                    {% else %}
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Crear Registro</button>
                  </form>
            </div>
            <!--FIN FORMULARIO-->
            <div class="col-lg-1"></div>
            <div class="col-lg-6 mt-4">
                 <!--PAGAR CUOTA-->
                <form method="post" action="{% url 'cuotaPagar' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="alert-link">Ingresar el ID título para realizar el pago de la cuota</label>
                        <input type="text" required placeholder="Ingresa el IDtítulo para realizar el pago" name="id_titulo" class="form-control" id="exampleInputPassword1">
                        {% if action == "pago_cuota" and status == 200 %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Pago realizado.
                        </div>
                        {% elif action == "pago_cuota" and status == 404  %}
                        <div class="alert alert-danger" role="alert">
                            No existe <span  class="alert-link">ID título</span>
                        </div>
                        {% else %}
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block">Pago de la cuota</button>
                    </div>
                </form>
                <hr />
                <!--FIN PAGAR CUOTA-->

                <!--ELIMINAR REGISTRO-->
                <form method="post" action="{% url 'cuotaEliminar' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="alert-link">Ingresar el ID título para eliminar el registro</label>
                        <input type="text" required name="id_titulo" placeholder="Eliminar Registro por IDtitulo" class="form-control" id="exampleInputPassword1">
                        {% if action == "Eliminar" and status == 200 %}
                        <div class="alert alert-success" role="alert">
                            Registro Eliminado.
                        </div>
                        {% elif action == "Eliminar" and status == 404  %}
                        <div class="alert alert-danger" role="alert">
                            No hay ningun registro con el <span class="alert-link">ID título</span> ingresado.
                        </div>
                        {% else %}
                        {% endif %}
                        <button type="submit" class="btn btn-danger btn-block">ELIMINAR</button>
                    </div>
                </form>
                <hr/>
                <!--FIN ELIMINAR REGISTRO-->


                <!--MODIFICAR FECHAS-->
                <form method="post" action="{% url 'actualizarFecha' %}">
                    {% csrf_token %}
                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="exampleInputPassword1" class="alert-link">Fecha creacíon</label>
                            <input type="date" required name="fecha_creacion" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1" class="alert-link">Fecha nueva</label>
                            <input type="date" required name="nueva_fecha" class="form-control" placeholder="Last name">
                        </div>
                        <small id="emailHelp" class="form-text text-muted mb-2 alert-link">
                            Toda fecha que coincida con la fecha de creación va hacer actualizada por la fecha nueva.
                        </small>
                        {% if action == "fechas_actualizar" and status == 200 %}
                        <div class="alert alert-success" role="alert">
                            Fechas Actualizadas.
                        </div>
                        {% elif action == "fechas_actualizar" and status == 404  %}
                        <div class="alert alert-danger mt-3" role="alert">
                            No existe la fecha de creación en nuestro registro.
                        </div>
                        {% else %}
                        {% endif %}
                        <button type="submit" class="btn btn-info btn-block">Modificar Fechas</button>
                    </div>
                </form>
                <hr/>
                <!--FIN MODIFICAR FECHAS-->
            </div>
            
        </div>

        <div class="row mb-5">
            <!--TABLA DATA-->
            <div class="col-lg-12 mt-5 mb-5">
                <table id="myTable" class="table table-striped ">
                    <thead>
                        <tr>
                        <th scope="col">ID Título</th>
                        <th scope="col">Título</th>
                        <th scope="col">Clasificación</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Fecha Vencimiento</th>
                        <th scope="col">Pago Cuota</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in productos %}
                        <tr>
                            <td>{{item.idTitulo}}</td>
                            <td>{{item.titulo}}</td>
                            <td>{{item.clasificacion}}</td>
                            <td>{{item.valor}}</td>
                            <td>{{item.fecha_creacion}}</td>
                            <td>{{item.fecha_vencimiento}}</td>
                            <td>{{item.pagocuota}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <p class="text-center mb-4" style="font-size: 20px; font-weight: 500;">Cantidad de registros: 
                    <small style="font-size: 25px; color:green; font-weight: 900;">({{ cantidadTitulos }})</small>
                </p>
                </table>
            </div>
            <!--FIN TABLA DATA-->
        </div>
    </div>

    <footer class="footer mt-auto py-3" style="background-color: #343a40;">
        <div class="container">
          <span class="text-muted">NEORIS TEST.</span>
        </div>
      </footer>
    <script>
        $(document).ready( function () {
        $('#myTable').DataTable({
    "language":{
        "lengthMenu": "Mostrar _MENU_ registros por página",
        "zeroRecords": "No existe registros asociados a la busqueda",
        "info": "Página _PAGE_ de _PAGES_",
        "infoEmpty": "No existe registro disponible",
        "infoFiltered": "(filtrado de _MAX_ registros en total)",
        "search":"Buscar:",
        "paginate": {
            "first":      "Primero",
            "last":       "Último",
            "next":       "Siguiente",
            "previous":   "Anterior"
        }
    },
    "lengthMenu": [3,6,12],
    responsive: true
});
        } );

        $('.alert').fadeIn();     
        setTimeout(function() {
            $(".alert").fadeOut();           
        },2600);
                    
    </script>
</body>
</html>